.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  img {
    height: 200px;
    width: 100%;
    background-size: cover;
    border: solid #fff 3px;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-colour;
      cursor: pointer;
      @include easeOut;
    }
  }
}

/*button styles*/

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  &:hover {
    background: $secondary-colour;
    color: set-text-colour($secondary-colour);
  }
}

.btn-light {
  @extend .btn;
  background: #fff;
  color: #000;
}

.btn-dark {
  @extend .btn;
  background: #000;
  color: #fff;
}

/* Expand grids for larger screens */

@media (min-width: $breakpoint-phone) {
  .about-info {
    grid-template-areas:
      "bio-image bio bio"
      "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);
  }

  .job {
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $breakpoint-tablet) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $breakpoint-desktop) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: $breakpoint-extraLarge) {
  .projects {
    grid-template-columns: repeat(5, 1fr);
  }
}
